<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452629367000-8efo8482slartk0dm48sbi1ors9abmi7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452629367000-8efo8482slartk0dm48sbi1ors9abmi7</string>
	<key>API_KEY</key>
	<string>AIzaSyChBZdE6ibqf2zx-P1AM7DLngiqFreCUEg</string>
	<key>GCM_SENDER_ID</key>
	<string>452629367000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.dbydesign.UntitledChatApp</string>
	<key>PROJECT_ID</key>
	<string>untiltedchatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>untiltedchatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452629367000:ios:986addc51353789a792fad</string>
	<key>DATABASE_URL</key>
	<string>https://untiltedchatapp.firebaseio.com</string>
</dict>
</plist>